/.env/
.env
/.venv/
/.conda/
/.idea/
/.vscode/
__pycache__/
/.pytest_cache/
*.py[cod]
*$py.class
data/
logs
container/*.sif
container/*.sh
building2building.egg-info/
results/
wandb/
configs/
notebooks/
