/.env/
.env
.venv
.venv/
/.conda/
/.idea/
/.vscode/
.DS_Store
__pycache__/
/.pytest_cache/
*.py[cod]
*$py.class
logs
container/*.sif
container/*.sh
b2b.egg-info/
building2building.egg-info/
results/
!tests/fixtures/results/
wandb/
!configs/wandb/
configs/energyplus_simulator.json
notebooks/
OfflineRL-Kit/
jobs/
eplus_out/
outputs/
uv.lock
multirun/
jobs_logs/
site/
analyze_metadata.ipynb
data/
!building2building/data/
b2b_outputs/
!building2building/sources/data/
./cursor/
dataset_v2/
analysis/

dataset/
*.zip
scrap/
refactoring/

# temporary
simulator/patched_minergym_simulation.py